.App {
  text-align: center;
  background-color : rgb(38, 208, 102);
  height : 100vh;
}

.App-logo {
  height: 100px;
}

.App-header {
  text-align: center;
  background-color: #B6E816;
  height: 150px;
  padding: 10px;
}

.App-in {
  font-size: large;
}

h2 {
  color : yellow;
}
